{% extends "base.html" %}

{% block content %}

  <h2>登记</h2>
  <form method="post">
    <table>
      <tr>
        <td class="label">
          用户名
        </td>
        <td>
          <input type="text" name="username" value="{{username}}">
        </td>
        <td class="error">
          {{error_username}}
        </td>
      </tr>

      <tr>
        <td class="label">
          密码
        </td>
        <td>
          <input type="password" name="password" value="">
        </td>
        <td class="error">
          {{error_password}}
        </td>
      </tr>

      <tr>
        <td class="label">
          密码验证
        </td>
        <td>
          <input type="password" name="verify" value="">
        </td>
        <td class="error">
          {{error_verify}}
        </td>
      </tr>

      <tr>
        <td class="label">
          邮箱（可选） 
        </td>
        <td>
          <input type="text" name="email" value="{{email}}">
        </td>
        <td class="error">
          {{error_email}}
        </td>
      </tr>
    </table>

    <input type="submit" value="登记">
  </form>
{% endblock %}
